* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid_container > * {
  // box-shadow: rgb(48, 51, 54) 0 0 5px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.grid_container {

  min-height: 98vh;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template:
    "header" 70px
    "main" 85%
    "footer" 4%;

  header {
    grid-area: header;
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset #eae8e8 0 0 3px, #bbb7b7 0 0 5px;

    // border: 1px solid black;
  }

  main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    // border: 1px solid black;
    box-shadow: inset #eae8e8 0 0 3px, #bbb7b7 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }

  footer {
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset #eae8e8 0 0 3px, #bbb7b7 0 0 5px;

  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .grid_container {
    grid-template:
      "header header" 70px
      "main main" auto
      "footer footer" 60px/
      200px auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .grid_container {
    grid-template:
      "header" 80px 
      "main" auto
      "footer" 60px /
      auto;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .grid_container {
    max-width: 1440px;
    margin: 0 auto;
    grid-template:
      "header" 100px 
      "main" auto
      "footer" 60px /
      auto;
  }
 }
