.container{
    height: 90vh;
    display: flex;
    flex-direction: column;

table{
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid #ddd;

    thead{
        background-color: rgb(84, 26, 132);
        color: rgb(237, 221, 249);
        text-align: left;

        th{
            padding: 8px 5px;
        }
    }

    tbody{
        tr,
        td{
            color:rgb(84, 26, 132);
            border-bottom: 1px solid #ddd;
            padding: 12px 5px;
            text-align: left;
        }
    }
   
}

}