
<div class="header_container">
    <div class="logo">
        <img src="../../../assets/imgs/protonium.png" alt="">
    </div>
    <div class="enterprise_name">
        <h1>Protonium</h1>
    </div>  
    <div class="spacer"></div>

    <div class="user">

        <div class="open" *ngIf="user == 'Iniciar sesion'">
          <i class="far fa-user" (click)="irALogin()" ></i> 
          <p>{{user}}</p> 
        </div>
        
        <div class="close" *ngIf="user != 'Iniciar sesion'">
            <i class="fas fa-sign-out-alt" (click)="closeSession()" ></i>
            <p>{{user}}</p>
        </div>
        
    </div>

</div>