@font-face {
  font-family: "Maiden";
  src: url(../src/assets/fonts/maiden.ttf) format("opentype");
}
@import '~@fortawesome/fontawesome-free/css/all.css';


body {
  font-family: "Montserrat", sans-serif;
  background-color: #e0dddd;
}
h1{
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 3px;
  color:rgb(173, 110, 224);
}
::-webkit-scrollbar {
  display: none;
}

